<!DOCTYPE html>
<html lang="en" id="html">
<head>
<title>Autobio : Main</title>
<link rel="shortcut icon" href="../img/favicon_v2.ico">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
<link rel="stylesheet" href="../css/style.css">

<body>
  <div id="flow"></div>
  <%- include('components/Header') -%>
  <main>
    <section class="section_uno" style="height: 5000px;">
      <h2>
        <svg 
          xmlns="http://www.w3.org/2000/svg"  
        >
          <clipPath id="text-path-1">
            <text 
              domiant-baseline="hanging" 
              text-anchor="middle" 
              x="1em" 
              y="1em"
            >Title</text>
          </clipPath>
        </svg>
      </h2>
      <ul class="card_list">
        <li>
          <div class="title_box">
            <span class="logo"></span>
            <em class="tit">Title</em>
          </div>
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </section>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
  </main>
  <%- include('components/Footer') -%>
</body>
<script src="../js/three.js"></script>
<script src="../js/index.js"></script>
<script src="../js/main.js"></script>
</html>